<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">      
    
    <context:annotation-config />
    <context:component-scan base-package="ohtu.verkkokauppa" />  
    
    <bean id="Acc" class="ohtu.verkkokauppa.Kirjanpito">
    </bean>
    
        <bean id="Gen" class="ohtu.verkkokauppa.Viitegeneraattori">
    </bean>
    
    <bean id="Wh" class="ohtu.verkkokauppa.Varasto">
        <constructor-arg ref="Acc" />
    </bean>
   
    <bean id="Bnk" class="ohtu.verkkokauppa.Pankki">
        <constructor-arg ref="Acc" />
    </bean>
    
        <bean id="Shp" class="ohtu.verkkokauppa.Kauppa">
        <constructor-arg ref="Wh" />
        <constructor-arg ref="Bnk" />
        <constructor-arg ref="Gen" />
    </bean>
    
    
</beans>
